<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
    <style>
      h1 { font-family: "PT Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "PT Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "PT Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "PT Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "PT Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
      .content { max-width: 500px; margin: auto; }
    </style>
  </head>
  <body>
    <div class="content">
    {{ content }}

      {% if page.previous.url %}
        <br>
        <a href="{{page.previous.url}}">← {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <br>
        <a href="{{page.next.url}}">{{page.next.title}} → </a>
      {% endif %}
      {% if page.mainPage != true %}
        <br>
        <a href="https://mpnote.ml/">mp notes</a>
      {% endif %}
    </div>

    <script>
      var ps = document.getElementsByTagName("p");
      for (i = 0; i < ps.length; ++i)
      {
        var p = ps[i];
        p.innerText = p.innerText.replace("\\(", "\"\n<div style=\"display:inline;\">`").replace("\\)", "`</div>\"");
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
  </body>
</html>
